/*STYLES.CSS*/

body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  margin: 100px;
  padding: 100px;
  padding-bottom: 75px;
  justify-content: center;
  align-items: center;
  background-image: url("background.png");
  background-size: 75%; 
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  width: 40%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1.5px solid pink;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: rgb(238, 131, 149);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(96, 209, 243);
}

#userPostsContainer {
  margin-top: 20px; /* Adjusted ID name */
  background-color: white;
  width: 50%;
}

.post {
  background-color: darkcyan;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post h3 {
  margin-top: 0;
  color: black;
}

.post p {
  margin-bottom: 0;
  color: black;
}

.no-posts {
  text-align: center;
  color: darkorchid;
}

/*----------------------------END CODE-------------------------------------*/
